<h1>
  {{phone_number}}
</h1>
<!--<ngx-intl-tel-input [(value)]="phone_number"></ngx-intl-tel-input>-->


<input type="text"
       ng2TelInput
       [ng2TelInputOptions]="{initialCountry: 'in'}"
       (hasError)="hasError($event)"
       (ng2TelOutput)="getNumber($event)"
       (intlTelInputObject)="telInputObject($event)"
       (countryChange)="onCountryChange($event)"
       #tar
       [textMask]="{mask: mask, guide: true}"
       [(ngModel)]="phone"
       (input)="change(phone)"

/>


